---
- name: Summarize Azure Arc deletion results
  run_once: true
  delegate_to: localhost
  debug:
    msg:
      - "Azure Arc machines deleted: {{ deleted_hosts }}"
      - "Azure Arc machines not found: {{ not_found_hosts }}"
  vars:
    # Logic: It is deleted if the 'found_arc_machine' fact was successfully set
    deleted_hosts: >-
      {%- set res = [] -%}
      {%- for host in ansible_play_hosts -%}
        {%- if hostvars[host]['found_arc_machine'] is defined -%}
          {%- set _ = res.append(host) -%}
        {%- endif -%}
      {%- endfor -%}
      {{ res }}

    # Logic: It is 'Not Found' if the 'found_arc_machine' fact is missing/undefined
    not_found_hosts: >-
      {%- set res = [] -%}
      {%- for host in ansible_play_hosts -%}
        {%- if hostvars[host]['found_arc_machine'] is undefined -%}
          {%- set _ = res.append(host) -%}
        {%- endif -%}
      {%- endfor -%}
      {{ res }}